---
name: CI Pipeline

on: [push, pull_request]

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Go mod tidy
        run: go mod tidy -v

      - name: Install Raylib dependencies
        run: sudo apt-get install libgl1-mesa-dev libxi-dev libxcursor-dev libxrandr-dev libxinerama-dev libwayland-dev libxkbcommon-dev

      - name: Install Xvfb
        run: sudo apt-get install xvfb

      - name: Run tests in headless
        run: xvfb-run -s "-screen 0 1024x768x24" go test -p 1 - v ./...
