---
name: CI Pipeline

on: [push, pull_request]

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Go mod tidy
        run: go mod tidy -v

      - name: Run Go tests
        run: go test -v -race ./...
